.landing__wrapper {
  position: relative;
  height: 100vh;
  background-image: url("./img/photo-1493689485253-f07fcbfc731b.jpg"),
    linear-gradient(rgba(255, 255, 255, 0.527), rgba(255, 255, 255, 0.527));
  background-size: cover;
  background-blend-mode: overlay;
}
.landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.height-fixer {
  padding-bottom: 72px;
  padding-top: 56px;
  min-height: 100vh;
}
header {
  height: 56px;
  position: absolute;
  top: 0;
  width: 100%;
}
footer {
  height: 72px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
